streamlit
streamlit-autorefresh
plotly
pandas
numpy
pyarrow
openpyxl
python-dotenv
pydantic
langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
torch
torchvision
