streamlit
streamlit-autorefresh
plotly
pandas
numpy
openpyxl

psycopg2-binary
sqlalchemy

python-dotenv

pydantic

langchain
langchain-core
langchain-groq
langchain-huggingface
langchain-chroma

chromadb

sentence-transformers
torch
transformers
torchvision
